@import "math";

$list: 7;
$rotate-offset: 45deg-180deg/$list;

.post{
  overflow: hidden;
}

.lottery-sector {
  $container-scale: 60%;
  list-style: none;
  width: $container-scale;
  margin: 30px auto;
  padding-top: $container-scale;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 10rem rgba(255,255,255,0.3);
  border: 1px solid #000;
  background: #eee;

  $skew-angle: 45deg-180deg/$list;

  /**/
  $radius: 100%;
  $theta : pi() / $list;
  $alpha : pi() / 4 - $theta;

  $center-distance: $radius / sqrt(5 * pow(tan($theta), 2) + 4 * tan($theta) + 1);
  $transformed-edge-length: 2 * tan($theta) * $center-distance;

  $skew-scale-ratio-1: (1 + tan($alpha));
  $skew-scale-ratio-2: (1 + tan(-$alpha));
  $skew-scale-ratio: $skew-scale-ratio-1 * $skew-scale-ratio-2;

  $initial-edge-length: $transformed-edge-length / $skew-scale-ratio;

  $edge-distance: -1/2 * $initial-edge-length + ($center-distance + $transformed-edge-length / 2)/ $skew-scale-ratio-1 / sqrt(2);

  >div {
    right: 50%;
    bottom: 50%;
    width: 50%;
    height: 50%;
    position: absolute;
    transform-origin: 100% 100%;
    //outline: 1px solid #000;
    &:nth-child(4n)
    {
      background-color: #ff8675;
    }
    &:nth-child(4n+1)
    {
      background-color: #ffc857;
    }
    &:nth-child(4n+2)
    {
      background-color: #8fb8ff;
    }
    &:nth-child(4n+3)
    {
      background-color: #d9b0ff;
    }
    span{
      width: $initial-edge-length ;
      height: $initial-edge-length;
      //line-height: 25vw;
      display: flex;
      align-items:center;
      text-align: center;
      justify-content:center;
      vertical-align: bottom;
      position: absolute;
      color: #1875E7;
      font-weight: bolder;
      //bottom: ($radius - $initial-edge-length)*0.25;
      //right: ($radius - $initial-edge-length)*0.25;
      bottom: $edge-distance;
      right: $edge-distance;
      transform: skew(-$rotate-offset, -$rotate-offset) rotate(-45deg);
      z-index: 10;
      font-size: 5vw;
      //border: 1px solid #000;
    }
  }
  @for $idx from 1 through $list {
    >div:nth-child(#{$idx}) {
      transform: rotate(($idx)*360deg/$list + $rotate-offset) skew($rotate-offset, $rotate-offset);
    }
  }

  ///
  >div.c1 {
    transform: rotate((1)*360deg/$list + $rotate-offset + 90deg - 180deg/$list) skew($rotate-offset, $rotate-offset);
    &:before{
      transform: skew(-$rotate-offset, -$rotate-offset);
      transform-origin: 100% 100%;
    }
  }
  ///
  >div.c2 {
    transform: rotate((1)*360deg/$list + $rotate-offset + 90deg - 180deg/$list) skew($rotate-offset, $rotate-offset);
    span{
      transform: skew(-$rotate-offset, -$rotate-offset) rotate(0deg);
    }
  }
  ///
  >div.c3 {
    transform: rotate((1)*360deg/$list + $rotate-offset + 90deg - 180deg/$list) skew($rotate-offset, $rotate-offset);
    span{
      transform: skew(0deg, 0deg) rotate(0deg);
    }
  }
  ///
  >div.c4 {
    transform: rotate((1)*360deg/$list + $rotate-offset + 90deg - 180deg/$list);
    span{
      transform: skew(0deg, 0deg) rotate(0deg);
    }
  }
}


.sector-container{
  width: 100%;
  padding-top:60%;
  overflow: hidden;
  position: relative;
  margin: 20% auto;
}

.lottery-sector.full{
  width: 100%;
  padding-top: 100%;

  &.f1{
    position: absolute;
    top: 50%;
    transform: translateX(-30%) translateY(-50%);
    margin: 0;
    p{
      position: absolute;
    }
    .pc{
      left: 50%;
      top:50%;
    }
    .pd{
      left: 76%;
      top:50%;
    }
    .po{
      left: 88%;
      top:50%;
    }
    .pa{
      left: 76%;
      top: 39%;
    }
    .pb{
      left: 76%;
      top:61%;
    }
    .pe{
      left: 80%;
      top: 32%;
    }
    .theta{
      top: 40%;
      left: 60%;
    }
    .alpha{
      top: 35%;
      left: 58%;
    }
  }

  >div{
    &.c1,&.c2,&.c3,&.c4{
      span:before{
        content: "";
        position: absolute;
        height: 600%;
        width: 0;
        border-left: 1px solid;
      }
    }
    &.c1{
      span:after{
        content: "";
        position: absolute;
        height: 600%;
        width: 0;
        border-left: 1px solid;
        transform: rotate(64deg);
      }

      &:before{
        content: "";
        position: absolute;
        border-right: 1px dashed;
        border-bottom: 1px dashed;
        width: 100%;
        height: 100%;
      }
    }
    &.c2{
      span:before{
        content: "";
        position: absolute;
        height: 600%;
        width: 0;
        border-left: 1px solid;
        transform: rotate(-45deg);
      }
    }
    &.c3,&.c4{
      span:after{
        content: "";
        position: absolute;
        height: 600%;
        width: 0;
        border-left: 1px solid;
        transform: rotate(-45deg);
      }
    }
  }


}